/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

damage-sp{
	color: #136cd0;
}

damage-wp{
	color: crimson;
}

shield{
	color: #8a8585;
}

defense{
	color: sandybrown;
}

health{
	color: lightgreen;
}

time{
	color: lightcyan;
}

attackspeed{
	color: mediumpurple;
}

penetration{
	color: crimson;
}

speed{
	color: whitesmoke;
}

yellow{
	color:yellow;
}

spellresist{
	color: crimson;
}
